.form-wrapper{
    border-top: 50px solid #343a42;
    border-bottom: 50px solid #343a42;
    background-color: #343a42;
}

.contact-wrapper{
    text-align: center;
    color: var(--primary-orange);
    text-transform: var(--text-uppercase);
}

.status{
    color: var(--primary-orange);
}

.contact-button{
    height: 2.8rem;
    border: 1px solid red;
    text-decoration: none;
    text-transform:var(--text-uppercase);
    color: var(--primary-white);
    border: 1px solid var(--primary-red);
    background-color:#343a42;
}

.contact-button:hover{
    background-color: #599a59;
}