.form-wrapper{
    border-top: 50px solid #343a42;
    border-bottom: 50px solid #343a42;
    background-color: #343a42;
}

.contact-wrapper{
    text-align: center;
    color: var(--primary-orange);
    text-transform: var(--text-uppercase);
}

.status{
    color: var(--primary-orange);
}