.services {
    height: 80vh;
    background-color: #e6e6e6;
}

@media (max-width:1440px) {
    .services {
        height: 70vh;
    }
}

@media (max-width:1024px) {
    .services {
        height: 90vh;
    }
}

@media (max-width:768px) {
    .services {
        height: 95vh;
    }
}

@media (max-width:425px) {
    .services {
        height: 170vh;
    }
}

.serviced-h1 {
    text-align: center;
    font-weight: normal;
    margin-bottom: 3rem;
    color: var(--primary-black);
    border-top: 8.125rem solid #e6e6e6;
    text-transform: var(--text-uppercase);
}

@media (max-width:1024px) {
    .serviced-h1 {
        border-top: 50px solid #e6e6e6;
    }
}

.serviced-title {
    margin: 5px;
    width: 24vw;
    height: 26vh;
    text-align: center;
    border-radius: 0.25rem;
    /* background-color: var(--primary-white) !important; */
    border-bottom: 0.25rem solid var(--primary-orange) !important;
}

@media (max-width:1440px) {
    .serviced-title {
        height: 30vh;
        width: 18vw;
    }
}

@media (max-width:1024px) {
    .serviced-title {
        height: 30vh;
        width: 22vw;
    }
}

@media (max-width: 768px) {
    .serviced-title {
        height: 33vh;
        width: 22vw;
    }
}

@media (max-width: 425px) {
    .serviced-title {
        width: 62vw;
        height: 33vh;
    }
}

.serviced-title:hover {
    transition: .4s ease-in-out;
    /* color: var(--primary-white); */
    background-color: var(--primary-orange);
    border-bottom: 4px solid var(--primary-dark) !important;

}

.service-icon {
    height: 4rem;
    margin-left: 6rem;
    width: 4rem !important;
    /* text-align: center !important; */
}

/* .service-icon:hover {
    color: var(--primary-orange);
} */