.cntnr {
    border-top: 3rem solid #fff;
}

.img-centered {
    transform: translate(30%);
    margin-top: -10;
    text-align: center;
    width: 20.75rem;
    height: 20.75rem;
    border-radius: 50%;
    border: 1px solid gray
}

@media (max-width: 1024px) {
    .img-centered {
        width: 16.75rem;
        height: 16.75rem;
    }
}

@media (max-width: 768px) {
    .img-centered {
        width: 16.75rem;
        height: 16.75rem;
    }
}

@media (max-width: 425px) {
    .img-centered {
        width: 12.75rem;
        height: 12.75rem;
    }
}

@media (max-width: 768px) {
    .about-text-centered {
        margin: 2.5rem;
        font-size: 1px !important;
    }
}

.resume-button {
    margin-left: 26%;
    margin-top: 50rem;
    padding: 0.625rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--primary-dark);
    border: 1px solid var(--primary-red);
}

.resume-button:hover {
    background-color: green;
    color: var(--primary-white);
    transition: .3s ease-in-out;
}

/* ----------------Shared Css class---------------- */

.text-about,
.experience-text {
    color: var(--primary-orange);
    text-transform: var(--text-uppercase);
}