/* .bg-color {
    background: linear-gradient(#ffffff), #e5e5e5);
} */
.img-centered {
    transform: translate(30%);
    width: 20.75rem;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .img-centered {
        width: 16.75rem;
    }
}

@media (max-width: 425px) {
    .img-centered {
        width: 12.75rem;
    }
}

@media (max-width: 768px) {
    .about-text-centered {
    margin: 2.5rem;
    }
}

/* ----------------Shared Css---------------- */

.text-about,
.experience-text
{
    color: var(--primary-orange);
    text-transform:var(--text-uppercase);
}