.footer-bg {
    background-color: var(--primary-dark);
    border-top: 40px solid var(--primary-dark);
}

.footer-wrapper {
    display: flex;
    height: 12.75rem;
    line-height: 1rem;
    text-align: center;
    color: var(--primary-white);
}

@media (max-width: 425px) {
    .footer-wrapper {
        height: 32rem;
    }
}

.footer-anchor {
    text-decoration: none;
    color: var(--primary-white);
}

.footer-nav {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-decoration: none;
    justify-content:center;
    color: var(--primary-white);
    text-transform: var(--text-uppercase);
}

.fa-icon{
    height: 5rem;
}