.footer-bg{
    background-color: var(--primary-dark);
    border-top: 40px solid var(--primary-dark);
}

.footer-wrapper{
    color: var(--primary-white);
    display: flex;
    height: 14.75rem;
    text-align: center;
    line-height: 1rem;
}

@media (max-width: 425px) {
    .footer-wrapper{
        height: 34rem;
    }
}

.footer-anchor{
    text-decoration: none;
    color: var(--primary-white);
}