.footer-bg{
    background-color: var(--primary-dark);
    border-top: 40px solid var(--primary-dark);
}

.footer-wrapper{
    color: var(--primary-white);
    display: flex;
    height: 14.75rem;
    text-align: center;
    /* justify-content: left; */
    line-height: 1rem;
}

@media (max-width: 425px) {
    .footer-wrapper{
        /* color: var(--primary-white); */
        display: flex;
        height: 24.75rem;
        text-align: center;
        /* justify-content: left; */
        /* line-height: 1rem; */
    }
}

.fa-icon{
    color: var(--primary-white);
    font-size: 40px;
}