.text-experience{
    text-align: center;
    border-top: 2.5rem solid var(--primary-white);
}

.experience-img{
    height: 15rem;
    /* width: 18.4rem; */
}

.url-customized a{
    color: var(--color-dark);
    text-decoration: none;
}

.card-shadow{
    box-shadow: 5px 5px 10px #a7a6a6;
    border-radius: 5px !important;
    border: none!important;
}

.tools-wrapping{
    border-radius: 50px;
    color: whitesmoke;
    background-color: red;
}

.html-button{
    color: var(--primary-white);
    background: linear-gradient(45deg, #ff193f, #ff35b4);
}