.experience-h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color : var(--primary-orange);
  text-transform: var(--text-uppercase);
}

.portfolio {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-top: 5rem solid #fff;
}

@media (max-width:1024px) {
  .portfolio {
    height: 100vh;
    border-top: 1rem solid #fff;
  }
}

@media (max-width:768px) {
  .portfolio {
    height: 225vh;
    border-top: 0rem solid #fff;
  }
}

h1 {
  font-size: 50px;
}

ul {
  padding: 0;
  margin: 10px;
  display: flex;
  list-style: none;
}

.portfolio-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width:1024px) {
  .portfolio-container {
    width: 70%;
  }
}

.img-wrapping {
  width: 270px;
  height: 200px;
  border-radius: 20px;
  z-index: 1;
  object-fit: cover;
}

.img-wrapping:hover {
  opacity: .8;
  color: #20067e !important;
  z-index: 0;
}

.items {
  color: #39860c;
  border: 1px solid red;
  margin: 20px 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  position: relative;
  transition: all .5s ease;
  cursor: pointer;
}

.portfolio-title {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
}

/* ---------------PORTFOLIO-MENU---------------- */

li {
  font-size: 20px;
  margin-right: 80px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 425px) {
  li {
    margin-right: 10px;
  }
}

@media (max-width: 375px) {
  li {
    margin-right: 10px;
    font-size: 15px;
  }
}

.activee {
  color: #fff;
  background-color: #1a0202;
}


/* -----------------BUTTON---------------- */

.html-btn {
  border: none;
  border-top: 10px;
  border-radius: 1rem;
  margin: .5rem 0 .5rem 0;
  color: var(--primary-white);
  background: linear-gradient(45deg, #ff193f, #ff35b4);
}

.css-btn {
  border: none;
  border-top: 10px;
  border-radius: 1rem;
  margin: .5rem 0 .5rem 0;
  color: var(--primary-white);
  background: linear-gradient(45deg, #5a00dd, #684efb);
}

.js-btn {
  border: none;
  border-top: 10px;
  border-radius: 1rem;
  margin: .5rem 0 .5rem 0;
  color: var(--primary-white);
  background: linear-gradient(45deg, #a0aa67, #f3f306);
}

.bootstrap-btn {
  color: var(--primary-white);
  background: linear-gradient(45deg, #2eb1ea, #2eb1ea);
}

.react-btn {
  color: var(--primary-white);
  background: linear-gradient(45deg, #5e51fc, #7593f5);
}

.github-btn {
  border: none;
  border-top: 10px;
  border-radius: 1rem;
  margin: .5rem 0 .5rem 0;
  color: var(--primary-white);
  background: linear-gradient(45deg, #3d0d15, #6e343e);
}

.firebase-btn {
  color: var(--primary-white);
  background: linear-gradient(45deg, #4289ff, #07f8c3);
}

.react-router-btn {
  color: var(--primary-white);
  background: linear-gradient(45deg, #ff9c35, #ffd019);
}